{% extends "tool.html" %}

{% load static from staticfiles %}

{% load render_tools %}

{% block pagestyle %}

#view_container {
	text-align: center;
	margin: 0 auto;
}

{% endblock %}

{% block toolcontent %}

<div class="feature-container container fixed-width text">
	<div class="row">
		<div class="col-md-2">
			Footprint library table:
		</div>
		<div class="col-md-10">
			<select id="fptab">
				<option value="kicad_github">KiCAD Github library table</option>
			</select>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
			Footprint library:
		</div>
		<div class="col-md-10">
			<select id="fplib"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			Footprint:
		</div>
		<div class="col-md-10">
			<select id="fp"></select>
		</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12" id="view_container">

		</div>
	</div>
</div>

</div>

{% endblock %}


