{% extends "tool.html" %}

{% load static from staticfiles %}

{% load render_tools %}

{% block pagestyle %}

#view_container {
	text-align: center;
	margin: 0 auto;
}

.input-row {
	padding-bottom: 10px;
}
{% endblock %}

{% block toolcontent %}

<div class="feature-container container fixed-width text">
	<div class="row input-row">
		<div class="menubar">
			<div id="mode-select" class="btn-group">
				<button class="btn btn-default active" id="input-fplt-gh">fp-lib-table (Github)
				</button>
				<button class="btn btn-default" id="input-fplt-text">fp-lib-table (text)
				</button>
				<button class="btn btn-default" id="input-fp-text">Footprint as text
				</button>
			</div>
		</div>
	</div>
	<div id="fplt-input-container">
		<div class="row input-row">
			<div class="col-md-3">
				Footprint library table:
			</div>
			<div class="col-md-9" id="fplt-url-area">
				<div class="row input-row">
					<div class="col-md-4 input-group">
						<span class="input-group-addon">Owner</span>
						<input type="text" class="form-control main-input" id="fplt-gh-owner"
							value="KiCad"
						/>
					</div>
					<div class="col-md-4 input-group">
						<span class="input-group-addon">Repo</span>
						<input type="text" class="form-control main-input" id="fplt-gh-repo"
							value="kicad-library"
						/>
						<!--
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="#">kicad-library</a></li>
							</ul>
						</div>--><!-- /btn-group -->
					</div>
					<div class="col-md-4 input-group">
						<span class="input-group-addon">Branch</span>
						<input type="text" class="form-control main-input" id="fplt-gh-branch"
							value="master"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 input-group">
						<span class="input-group-addon">Path</span>
						<input type="text" class="form-control main-input" id="fplt-gh-path"
							value="template/fp-lib-table.for-github"
						/>
					</div>
				</div>
			</div>
			<div class="col-md-9 hidden" id="fplt-text-area">
				<textarea id="fplt-text" rows=5 class="form-control main-input">
(fp_lib_table
  (lib (name Sockets)(type Github)(uri ${KIGITHUB}/Sockets.pretty)(options "")(descr "Assorted sockets"))
)</textarea>
			</div>
		</div>
		<div class="row input-row">
			<div class="col-md-3">
				Library table substitutions:
			</div>
			<div class="col-md-9" id="fplt-subs-area">
				<textarea id="fplt-subst" class="form-control main-input">
KIGITHUB=https://github.com/KiCad</textarea>
			</div>
		</div>
		<div class="row input-row" style="text-align:center;">
			<div class="col-md-12">
				<table width="100%" class="divider">
					<td><hr /></td>
					<td style="width:1px; padding: 0 10px; white-space: nowrap;">
						<button class="btn btn-primary" id="fetch-libraries">
							Fetch libraries
						</button>
					</td>
					<td><hr /></td>
				</table>
			</div>
		</div>
	</div>
	<div class="row input-row" id="fplib-select-area">
		<div class="col-md-3">
			Footprint library:
		</div>
		<div class="col-md-9">
			<select id="fplib" class="form-control main-input"></select>
		</div>
	</div>
	<div class="row input-row">
		<div class="col-md-3">
			Footprint:
		</div>
		<div class="col-md-9" id="fp-select-area">
			<select id="fp" class="form-control main-input"></select>
		</div>
		<div class="col-md-9 hidden" id="fp-text-area">
			<textarea class="form-control main-input" rows=5 id="fp-text">
(module
  Example
  (at 0 0)
  (pad 1 thru_hole circle (at 0 0) (size 2 2) (drill 1) (layers *.Cu *.Mask F.SilkS))
)</textarea>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12" id="view_container">
		</div>
	</div>
</div>

</div>

{% endblock %}


