
{% extends "tool.html" %}

{% load render_tools %}

{% block pagestyle %}
.number-input {
	width:5em;
}

.led-results {
    text-align:left !important;
}
{% endblock %}

{% block toolcontent %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="input-table" id="parameters">
                <tr>
                    <td>Supply voltage:</td>
                    <td><input type="text" class="form-control number-input" id="vcc" value="5"/></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>LED forward voltage:</td>
                    <td><input type="text" class="form-control number-input" id="vf" value="2"/></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>LED forward current:</td>
                    <td><input type="text" class="form-control number-input" id="if" value="20"/></td>
                    <td>mA</td>
                </tr>
                <tr>
                    <td>Number of LEDs:</td>
                    <td><input type="text" class="form-control number-input" id="num" value="1"/></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">            
            <ul id="led-results">
            </ul>
        </div>
    </div>
</div>

<div id="led-warnings"></div>
<div class="feature-result col-md-12">
	<div class="svg-drawing" id="result-canvas">
	</div>
</div>

LEDs require a given voltage to operate correctly. As diodes, they have
an exponential I-V characteristic, so after the "knee voltage", they will
sink a lot more current for each small increase in forward voltage. This
can damage or destroy LEDs in a fraction of a second if it is not
anticipated and controlled. An inline resistor is often the simplest way
to limit the current for a given voltage supply and LED
characteristics.
{% endblock %}

{% block help %}
<p>
Enter values into the <span data-target="parameters" class="help-hint">form</span>.
</p>

<p>
An array that limits the current in each LED to that given will be
displayed <span data-target="result-canvas" class="help-hint">below</span>, along
with some <span data-target="led-results" class="help-hint">useful information</span> 
about the array.
</p>
{% endblock %}
