
{% extends "tool.html" %}

{% load render_tools %}

{% block pagestyle %}
.number-input {
	width:5em;
}
{% endblock %}

{% block toolcontent %}

<div class="feature-container container">
    <div class="row">
        <div class="col-md-6">
            <table class="input-table">
                <tr>
                    <td>Supply voltage:</td>
                    <td><input type="text" class="form-control number-input" id="vcc" value="5"/></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>LED forward voltage:</td>
                    <td><input type="text" class="form-control number-input" id="vf" value="2"/></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>LED forward current:</td>
                    <td><input type="text" class="form-control number-input" id="if" value="20"/></td>
                    <td>mA</td>
                </tr>
                <tr>
                    <td>Number of resistors:</td>
                    <td><input type="text" class="form-control number-input" id="num" value="1"/></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            Results
        </div>
    </div>
</div>

<div class="feature-result col-md-12">
	<div class="svg-drawing" id="result-canvas">
	</div>
</div>

LEDs require a given voltage to operate correctly. As diodes, they have
an exponential I-V characteristic, so after the "knee voltage", they will
sink a lot more current for each small increase in forward voltage. This
can damage or destroy LEDs in a fraction of a second if it is not
anticipated and controlled. An inline resistor is often the simplest way
to limit the current for a given voltage supply and LED
characteristics.
{% endblock %}

{% block help %}
<p>
Enter a code into the <span id="hint-text" class="help-hint">SMD label</span>.
</p>

<p>
The resulting value will be displayed in the <span id="hint-value" class="help-hint">result</span>.
</p>
{% endblock %}
