
{% extends "tool.html" %}

{% load render_tools %}

{% block pagestyle %}
.number-input {
	width:10em;
}

.led-results {
    text-align:left !important;
}
{% endblock %}

{% block toolcontent %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <div id="parameters">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-6 control-label" for="vcc">Supply voltage:</label>
                    <div class="col-lg-6 input-group number-input" >
                        <input type="number" class="form-control" id="vcc" value="5" min=0 max=100/>
                        <span class="input-group-addon">V</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-6 control-label" for="vf">LED forward voltage:</label>
                    <div class="col-lg-6 input-group number-input" >
                        <input type="number" class="form-control" id="vf" value="2" min=0 max=100/>
                        <span class="input-group-addon">V</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-6 control-label" for="if">LED forward current:</label>
                    <div class="col-lg-6 input-group number-input" >
                        <input type="number" class="form-control" id="if" value="2" min=0 max=1000/>
                        <span class="input-group-addon">mA</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-6 control-label" for="num">Number of LEDs:</label>
                    <div class="col-lg-6 input-group number-input" >
                        <input type="number" class="form-control" id="num" value="1" min=1 max=200/>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="col-md-6">            
            <ul id="led-results">
            </ul>
        </div>
    </div>
</div>

<div id="led-warnings"></div>
<div class="feature-result col-md-12">
	<div class="svg-drawing" id="result-canvas">
	</div>
</div>

LEDs require a given voltage to operate correctly. As diodes, they have
an exponential I-V characteristic, so after the "knee voltage", they will
sink a lot more current for each small increase in forward voltage. This
can damage or destroy LEDs in a fraction of a second if it is not
anticipated and controlled. An inline resistor is often the simplest way
to limit the current for a given voltage supply and LED
characteristics.
{% endblock %}

{% block help %}
<p>
Enter values into the <span data-target="parameters" class="help-hint">form</span>.
</p>

<p>
An array that limits the current in each LED to that given will be
displayed <span data-target="result-canvas" class="help-hint">below</span>, along
with some <span data-target="led-results" class="help-hint">useful information</span> 
about the array.
</p>
{% endblock %}
