body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.hero-unit {
	padding: 10px;
}

.topic-item {
	padding-top:2em;
	text-align: center;
}

.topic-item-img {
	width:100%;
}

.hero-title {
	font-size: larger;
}

.hero-description {
	font-size: smaller;
}

.container.fixed-width {
	max-width: 900px;
	margin: 0 auto;
}

.container.fixed-width.text {
	text-align:left;
}

.feature-container,
.feature-table {
	margin: 0 auto;
	text-align:center;
}

.feature-table {
	border: 1px solid #111111;
}

div.feature-result {
	text-align:center;
	font-size:200%;
	line-height:200%;
}

textarea.feature-input,
textarea.feature-result {
	width:100%;
}

.feature-table > tr > th,
.feature-table > tr > td,
.feature-table > * > tr > th,
.feature-table > * > tr > td {
	border: 1px solid #111111;
	padding: 0.2em;
}

div.mode-selector {
	text-align:center;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

div.menu-item {
	clear: both;
	padding-bottom: 5px;
}

div.colour-box {
	border: 1px solid black;
}

.popup-context-menu {
	position: absolute;
	background: #FFF;
	border: 1px solid #000;
	padding: 5px;
}

.highlighted-table-column {
	opacity: 1;
	border-right: 2px solid black !important;
	border-left: 2px solid black !important;
	font-weight: bold;
}

.colour-box {
	width : 1.5em;
	height : 1.5em;
}

.colour-box.float-left {
	float : left;
	margin-right: 5px;
}

.inactive-content {
	opacity: 0.5;
}

.highlighted-element {
    stroke: #FF0000 !important;
}

.help-button-container {
	position: absolute;
	right: 20px;
	top:0;
}

.help-close-container {
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 16px;
	height: 16px;
	background: url('/static/libree/icons/icon-cross-16.png') no-repeat;
	cursor:pointer;
}

#help-container {
	position: absolute;
	top:0px;
	right:20px;
	width: 15em;
	border-radius:6px;
	padding: 18px 5px 5px 5px;
	background: #DDD;
	z-index:1000;
}

span.help-hint {
	color: #555;
}

div.help-highlight,
span.help-highlight,
table.help-highlight,
ul.help-highlight {
	outline: 2px solid red !important;
}

path.help-highlight {
	stroke: #FF0000 !important;
}

text.help-highlight {
	fill: #FF0000 !important;
}

hidden {
	display:none;
}

.source-box {
	border: 2px solid green !important;
}

.error-box {
	border: 2px solid red !important;
}

.tool-main-content-container {
	position:relative;
}

.long-number {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.light-table, .light-table td, .light-table th {
	border: 1px solid #DDD;
}

.light-table td, .light-table th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
