{% extends "base.html" %}

{% load render_tools %}
{% load topic_list %}
{% load static %}


{% block header %}
<div class="hero-unit" id="tool-heading">
    <div class="row">
        <div class="col-md-2" style="text-align:center;">
            <img src="{{ STATIC_URL }}icons/auth-48.svg"/>
        </div>
        <div class="col-md-10" style="position:relative">
            Authentication: {{ authId }}
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
Authenticating with {{ authId }}. Please wait, you will be redirected back to the page you came from shortly.
{% endblock %}


{% block page_script %}
{% with "js/auth/"|add:'/'|add:authId as module %}
        require(["{{ module }}"], function(AuthModule) {
            AuthModule.authCallback();
        });
{% endwith %}
{% endblock %}
