{% load static from staticfiles %}

{% load cdn %}
{% load settings %}
{% load render_tools %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}LibrEE{% endblock %}</title>
	
	<link rel="shortcut icon" href="{% static 'icons/libree-16.ico' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap and global css-->
	<link href="{% cdn 'bootstrap.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/libree.css' %}" rel="stylesheet" media="screen">
	
	<style>
	{% block pagestyle %}
	{% endblock %}
	</style>
</head>

<body>
	{% include "header.html" %}
	<div class="container">

		<div class="row">
				{% block header %}
				{% endblock %}
		</div>

		<div class="row">
				{% block content %}
				{% endblock %}
		</div>

		{% include "footer.html" %}
	</div>

	<script src="{% static 'external/require.js' %}"></script>

	<script>
		<!-- Global require config -->
		{% inline_file "js/require-config.js" %}
		
		require.config({
			{% if 'REQUIRE_DEBUG'|value_from_settings %}
				baseUrl: "/static" 
			{% else %}
				baseUrl: "/static/min" 
			{% endif %}
		});
		
		<!-- Load core scripts, along with any page scripts -->
		require(["jquery.bootstrap"], function() {
			{% block page_script %}{% endblock %}
		});
	</script>
	
</body>
</html>
