{% extends "base.html" %}

{% block content %}

<div class="container-fluid fixed-width" >
<div class="row-fluid">
<div class="span12">

	<h2>Contribute to Libree</h2>
	
	The easist way to contribute to LibrEE is to fork it on Github, set 
	up a local Django server on your computer (you don't need administrator
	access to do this) and hack away!
	
	If you have changes to submit for inclusion to LibrEE, lodge a pull
	request on Github, and I'll look at adding it to LibrEE as soon as
	possible.
</div>
</div>
</div>
{% endblock %}
