{% extends "base.html" %}

{% load render_tools %}
{% load topic_list %}
{% load static %}
{% load require %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider"></span></li>
    <li><a href="/topic/{{ toolId|tool_topic  }}">{{ toolId|tool_topic|topic_name }}</a> <span class="divider"></span></li>
    <li class="active">{{ toolId|tool_title }}</li>
</ul>
                
<div class="hero-unit" id="tool-heading">
    <div class="row">
        <div class="col-lg-2" style="text-align:center;">
            <img src="{{ STATIC_URL }}icons/tool-{% tool_icon toolId %}-48.svg"/>
        </div>
        <div class="col-lg-10" style="position:relative">
            <div class="help-button-container">
                <img src="{{ STATIC_URL }}icons/help-22.png" 
                        alt="Help"
                        title="Click for tool instructions"
                        class="help-button hidden" />
            </div>
            <span class="hero-title">{{ toolId|tool_title }}</span>

            <div class="hero-description">{% tool_description toolId %}</div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="row tool-main-content-container">
    <div id="help-container" class="hidden">
        <div class="help-close-container"></div>
        {% block help %}
        {% endblock %}
    </div>
    <div class="content-container col-md-12">
        {% block toolcontent %}
        {% endblock %}
    </div>
</div>


{% endblock %}

{% block page_script %}
{% with "tools/"|add:toolId|add:'/'|add:toolId as module %}

require(["{{ module }}"]);

{% endwith %}
{% endblock %}


